@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Baconsale Podcast";
    ViewBag.SubTitle = "";
    ViewBag.Background = "/img/movieBG.jpg";

    <!--ViewBag.Background = "< img src = "~/img/background.jpg" />"-->
}
<!--C# code goes up here ^^-->
<!--Stephan Peck-->
<!--Assignment 3-->
<!--Section3 Group7-->




<img src="~/img/hilton.jpg" style="width:20%" />
<br />
<p>Joel likes Podcasts as well</p>
<a class="nav-link" href="https://baconsale.com/" onclick="return confirm(`Go to baconsale.com? \n A new tab will open.`)" target="_blank">
    <i class="material-icons">podcasts</i> Go to Baconsale.com
</a>




